/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact > *,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Customs CSS */
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  width: 100%;
  height: 150px;
}
button.filter {
  border: 2px solid #1d6154;
  background-color: #fff;
  color: #1d6154;
  font-size: 1.2em;
  font-weight: 700;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  margin-right: 15px;
}
button.active_filter {
  border: 2px solid #fff;
  background-color: #1d6154;
  color: #fff;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: #000;
}
header > nav > ul > li > a:hover,
header > nav > ul > li > a:active {
  color: #b1663c;
}

header > nav > ul > li > em {
  font-weight: 700;
}

#login > div > a {
  color: #3d3d3d;
}
p.error {
  color: #b1663c;
  font-weight: 700;
  font-size: 1.5em;
  font-family: "Work Sans";
  margin: 30px 0 0 0;
  text-align: center;
}

#portfolio > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modify_projet {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Work Sans";
  margin-left: 15px;
  font-weight: 100;
}

div#modify_title {
  margin: 0 0 15px 0px;
}

div#modify_img {
  margin: 10px 0px 0px 55px;
}

div#banner {
  display: flex;
  align-content: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #000000;
}

#banner > div:first-child,
#banner > div:last-child {
  display: flex;
  align-items: center;
}

#banner > div:first-child {
  color: #fff;
  margin: 0 25px 0 0;
}

#banner > div:last-child > button {
  border: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 0.9em;
  font-family: "Work Sans";
}

div.galery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  border-radius: 10px;
  padding: 25px;
  top: 20%;
  left: 40%;
  height: 350px;
  width: 350px;
}

div.galery > header {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

div.galery > header > i {
  padding: 5px;
}

div.overlay {
  width: 100%;
  height: 100%;
  background-color: #0000004D;
  z-index: 0;
  position: fixed;
  top: 0;
}
